.button {
  font-family: "Roboto Condensed";
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 22px;
  padding-bottom: 22px;
  text-align: center;
  background-color: transparent;
}

