.button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  background-color: transparent;
}
