.form__container {
  background-color: $backgraund-dark-blue;
  color: $text-color-white;
  padding: 70px 0;
  width: 100vw;
  margin-left: calc(-50vw + 50%);

  @media (min-width: $tablet-width) {
    padding: 60px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 0;
  }
}

.form__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-end;
  }
}

.form__title {
  text-align: left;
  margin-bottom: 37px;
  color: $text-color-white;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-bottom: 37px;
  }
}

.form__inner {
  width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 477px;
    margin-right: 103px;
  }
}

.form__input-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 61px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-bottom: 0;
    justify-content: space-between;
  }
}

.form__try {
  width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.form__button {
  color: $text-color-white;
  width: 100%;
  padding: 22px;
  border: 2px solid $text-color-white;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 26px;
    padding-bottom: 24px;
  }
}

.form__button:hover,
.form__button:focus,
.form__button:active {
  opacity: 0.5;
}

.form__input {
  background-color: $backgraund-dark-blue;
  width: 100%;
  border: none;
  border-bottom: 1px solid #74819c;
  padding: 0;
  padding-bottom: 3px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 37px;
  color: $text-color-white;

  @media (min-width: $tablet-width) {
    width: 205px;
    margin-bottom: 35px;
    padding-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    width: 223px;
    padding-bottom: 2px;
  }
}

.form__input:last-child {
  margin-bottom: 36px; 
    @media (min-width: $tablet-width) {
      margin-bottom: 35px; 
    }
}

.form__input:focus-visible {
  outline: none;
}

.form__input:focus {
  outline: 1px solid $text-color-white;
}

.form__input:disabled {
  opacity: 0.4;
}
