.promo__wrapper {
  display: flex;
  outline: 5px solid blue;
  row-gap: 48px;
  align-items: end;
  flex-wrap: wrap;
  align-content: flex-end;
  

  @media (min-width: $tablet-width) {
    align-items: center;
    column-gap: 0;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1160px;
    margin: 0 auto;
    padding-right: 72px;
    justify-content: end;

  }
}

.promo__image {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.promo__nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.promo__nav-link {
  font-family: "Roboto Condensed";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $text-color-white;
  text-decoration: none;
  display: inline;
  text-align: right;
  @media (min-width: $tablet-width) {
    line-height: 22px;
  }
}

.promo__subtitle {
  font-family: "Alumni Sans", Arial, sans-serif;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 14px;
  text-align: right;
  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 40px;
  }
}

.promo__title {
  font-family: "Alumni Sans", Arial, sans-serif;
  font-size: 62px;
  line-height: 62px;
  font-weight: 800;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
  text-align: right;

  @media (min-width: $tablet-width) {
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 2px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 92px;
    line-height: 110px;
    letter-spacing: 4px;
    margin-bottom: 40px;
  }
}

.promo__content {
  width: 156px;
  @media (min-width: $tablet-width) {
    width: 185px;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
  }
}

.promo__button {
  width: 100%;
  border: 2px solid #ffffff;
  color: $text-color-white;

  @media (min-width: $tablet-width) {
    width: 185px;
    align-self: flex-end;  
  }

  @media (min-width: $desktop-width) {
    width: 270px;
  }
}

.promo__big-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (min-width: $tablet-width) {
    width: 324px;

  }
  @media (min-width: $desktop-width) {
    width: 385px;
    margin-right: 56px;
  }
}

.promo__small-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    align-items: center;
  }
}