/* здесь используйте глобальные переменные */

//Text
$text-color: #102654;
$text-color-white: #ffffff;
$text-color-blue: #103aae;


//Backgraund
$backgraund-color: #ffffff;
$backgraund-extra: #f8f9fc;
$backgraund-banners: #ed0233;
$backgraund-dark-blue: #102654;
$backgraund-blue: #1c3374;
$backgraund-footer: #030a1a;


//Брейкпойнты
$tablet-width: 768px;
$desktop-width: 1366px;
$mobile-width-only: 767px;
